<link rel="stylesheet" href="app.component.css">

<div class="content">
    <header class="header">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/my-recipes-logo-png-transparent.png" class="logo" ><img>

        <div class="header2">
        
            <nav class="navbar">
            <a routerLink="/plato"> Platos</a>
            <a routerLink="/formulario">Formularios </a>
            </nav>
        </div>
    </header>    
    <div>
        <button (click)="callApiHandler()">Test</button>
      </div>
    </div>
    

<router-outlet> <router-outlet /> 
   <!-- <app-plato> </app-plato> > -->